/* minhas aplicações - PJCS */ 


.boas-vindas{
	text-align:  center; 
}

p#sair-do-sistema-admin{
	margin-top: -7px; 
	margin-bottom: 0px;
}


p#sair-do-sistema-admin a{
	color: #0000FF;
}

div.boas-vindas-sis{ 
  width: 100%; 
  height: 100%; 

  text-align: center;

	background-color: #F5F5DC; 
	min-height: 630px; 
	background-image: url('http://cursophp.com/comercial_fabinho/assets/frontend/img/cac.png');
	background-repeat: repeat; 
	/*opacity: .1;*/
}
div.boas-vindas h1{
	margin-top: 120px; 
	color: blue;
	margin-bottom: 20px; 
	font-size: 55px;
	font-weight: bold; 
	border-top:1px solid;
  border-color: #fff; 

	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000;

}

div.navbar-default, .sidebar{
	padding: 0px; 
	background-color: #E6E6FA;
	margin-top: 0px; 
	font-weight: bold;
	margin-left: -10px;
	margin-right: 0px;
}

div.navbar-scroll{
	width: 250px; 
	height: 470px;
  overflow-y: scroll;
}

a.opc-menu{
	margin-top: -5px; 
	margin-bottom: -5px; 
}

div a.opc-menu:hover{
	background-color: #fff; 
	color: blue; 
}

div#page-wrapper{
	background-color: #DCDCDC; 
}

div.panel-default input, input.consulta-prod-admin, textarea{ 
	background-color:#F0F8FF; 
	font-size: 15px; 
	text-transform: uppercase;
	color: #000;
	border: 1px solid;
}

div.panel-default input:focus, input.consulta-prod-admin:focus, textarea:focus{
	background-color: #DCDCDC; 	
	color: #000;
	font-weight: bold; 
}

div.panel-default input:hover, input.consulta-prod-admin:hover, textarea:hover{
	background-color: #DCDCDC; 	
}

div.panel-default select{
  background-color: #F0F8FF; 
  text-transform: uppercase;
	border: 1px solid;
	font-size: 15px;
	font-weight: bold; 
}

div.panel-default select:focus{
  background-color: #DCDCDC; 
  color: #000;
}

div.panel-default select:hover{
  background-color: #DCDCDC; 
}

.page-header{
	margin-top: 5px; 
	margin-bottom: 0px;
}
h4.page-header{
	color: blue;
}

.margin-top-10 label{
		margin-top:  10px;
}

.margin-top-20 label{
		margin-top:  20px;
}

.margin-top-30 label{
		margin-top:  30px;
}


div h3.page-header-adm{
	margin-top: 5px; 
}

div.btn-cadastro-produto button{
	margin-top: 10px; 
	margin-bottom: 0px; 
}


.layout-campos div select:hover,
									select:focus,
									select:active,
									select:checked {
  	color: blue;
  	background-color: #F8F8FF;
  	font-weight: bold;
  	font-size: 16px;
}

.layout-campos div option{
		background-color: #191970;
		color: #FFFFFF; 
		font-size: 16px; 
}

div.back-color-default{
		background-color: #808080;
		color: #fff;  
}


.foto-perfil a img{
	margin-top: 10px; 
	width: 70px;  
	border-style: solid;
 	border-width: 3px;
 	border-radius: 10px;          
}

.fotos-usuarios img{
  	width: 30px;            
}

.product-img{  
  	background: #DCDCDC;      
}

.product-img img{
  	width: 130px;   
  	height:130px;         
}

.fotos-lista-produtos img{
		width: 35px;
		height: 35px;
}

.item-page a {
		font-size: 15px;
		font-weight: bold;
		padding: 3px;  
		border-style: solid;
	 	border-width: 1px;
	 	border-radius: 10px;
	 	margin-top: 10px; 
}

#titulo-prod-jquery{
  margin-top: 0px; 
  color: blue;
}

.filtro-list-produtos{
	 	border-color: #C0C0C0;
	 	text-align:  center; 
	 	margin-top: -10px; 
}

.filtro-list-produtos div {
		margin-top: -3px; 
		padding-bottom: 5px; 
}

.filtro-list-produtos div a {
		border-style: solid;
	 	border-width: 1px;
	 	border-radius: 10px; 
		font-size: 13px; 
		font-weight: bold; 
		padding: 5px; 
}

.filtro-list-produtos h4 {
		font-size: 15px; 

}

div.protected-field input.codproduto{
	background-color: #DCDCDC; 
}


/* menu do admin */ 
li p.menu-admin{

	font-size: 18px;
	margin-top: 15px; 
	padding-left: 6px;
	border-bottom: 1px solid;   
}

.cadnota div.form-group {
	margin-top: 13px; 
	line-height: 10px;
}

.cadnota2 div.form-group {
	line-height: 10px;
}

/*
.cadnota div.form-group input {
	height: 30px; 
} */

.consultaitem div{
	margin-top: -10px; 
}


button.consulta{
	margin-top: -12px; 
	margin-bottom: -10px; 
	width: 130px;
	font-size: 17px;  
}
button.consulta img{
	width: 15px;
	height: 15px;
}

div.protected-fields input{
	pointer-events: none;  
	background-color: #DCDCDC; 
}

.title-itens {
	margin-top: -12px; 
}

div.panel-dados{
	margin-top: -20px;
	margin-bottom: -15px;
}

div.panel-dados-cad{
	margin-top: 0px;
	margin-bottom: -15px;
}

div.panel-dados-nota{
	margin-top: 0px; 
}

.dados-notagravada h4{
	margin-top: 0px;
	margin-bottom: -10px;
	color: #0000FF ;
	font-size: 17px; 
}

.dados-notagravada h4 b{
	margin-left: 5px; 
	color: #00008B ;
}


h4.btn-itens {
	margin-top: 2px;
	color: #228B22;
	font-size: 15px; 
	font-weight: bold;  
}


h4.title-itens {
	margin-top: -5px; 
	margin-bottom: -5px; 
}

h4.title-itens-nota {
	margin-top: 10px; 
	margin-bottom: -5px; 
}

div.title-itens-c {
	margin-top: -9px; 
	margin-bottom: 11px; 

}

div.title-itens-c div h4 {
	margin-top: -6px; 
	margin-bottom: -5px; 
	color: #FF8C00;
}


div.title-cadastro-itens-nota{
	background-color: #000;
	margin-top: -5px;
	margin-bottom: 10px; 
	color: #fff;
	padding: 10px;
}

div.title-itens-da-nota{
	background-color: #000;
	margin-bottom: 10px; 
	color: #fff;
	padding: 10px;
}


.mensagem div b{
	font-style: italic;
	font-size: 18px; 
}

div.cons-item label{
	font-size: 12px; 	
}
div.cons-item input{
	pointer-events: none;  
	background-color: #DCDCDC; 
	color:#0000FF;
	font-size: 14px; 
	font-weight: bold;
	height: 22px;
	margin-bottom: -10px; 
}

div.vercons label{
	font-size: 13px; 	
}

div.vercons input{

	font-size: 16px; 
	font-weight: bold;
	height: 25px;
	margin-bottom: -10px; 
}

div#panel-atualiza-vl-itens-entrada{
	border: 1px solid;
	border-radius: 5px; 
	margin-top: 5px; 
	margin-bottom: 0px; 
}

div.vercons2 label{
	font-size: 13px; 	
	margin-top: 5px; 
}

div.vercons2 input{
	font-size: 16px; 
	font-weight: bold;
	height: 25px;
	margin-bottom: -10px; 
}

div.vercons2 label#title-p1{
	margin-top: 20px; 
	color: yellow; 
}

div.vercons2 label#title-p2{
	color: yellow;
	margin-bottom: 0px; 
}

section#vl-atual-venda input{
	color:red; 
}

section#vl-atual-atacado input{
	color: green; 
}


/* template de consulta de estoque */ 


div.panel-dados-cons-estoque div.panel-body{

	margin-top: -10px; 
	margin-bottom: -5px; 
	max-height: 210px; 

}

div.panel-dados-cons-estoque div.panel-body input{
	height: 25px;  
	font-size: 15px; 
}

div.panel-dados-cons-estoque div.title-cons{
	margin-top: 10px; 
	margin-bottom: -10px; 
}

div.panel-dados-cons-estoque div.title-cons h3{
	margin-top: -5px; 
	margin-bottom: -5px; 
	color: blue; 
}

div.panel-dados-cons-estoque div h4{
	margin-top: -5px; 
	font-size: 17px; 
}

div.panel-dados-cons-estoque div.campo-data input{
	padding: 0px;
	text-align: center;
}

div.panel-mov-est {
	background-color: #F0F8FF;
	margin-top: -10px; 
}

div h4.title-itens-nota {
	margin-left: 10px; 
	font-size: 16px; 
}

div h4.title-itens-nota b {
	color: blue;
}

div h4.title-itens-nota b.font-saldo {
	color: red;
	margin-right: 0px; 
}

div.descricao-item-consulta-mov h4{
	
	color: blue; 
	margin-left: 25px; 
	margin-top: 15px;
	margin-bottom: -10px; 
	font-weight: bold;

	border-top: 1px solid; 
	border-bottom: 1px solid;
	border-color: #C0C0C0; 
	padding: 8px;

}

h2.mens-nao-estoque{
	padding: 20px; 
	color: #F4A460 ;
	border: 2px solid;
	border-radius: 10px; 
}
h2.mens-nao-estoque b{
	color: blue ;
}

div.title-itens-mov{
	margin-top: -10px; 
	border-bottom: 1px solid; 
	padding: 10px; 
	margin-bottom: 0px; 

}

/* formatando cor das fontes das colunas da tabela da consulta de estoque */ 
p.field-qt-entrada{
	font-size: 15px; 
	color: #228B22; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-qt-saida{
	font-size: 15px;
	color: #0000FF; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-saldo{
	font-size: 15px;
	color: #5F9EA0; 
	font-weight: bold;
	margin-bottom: 0px; 
}



/* formatando cor das fontes das colunas da tabela da consulta de intens da nota */ 

p.field-aberta{
	font-size: 15px;
	color: #006400; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-fechada{
	font-size: 15px;
	color: blue; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-cancelada{
	font-size: 15px;
	color: red; 
	font-weight: bold;
	margin-bottom: 0px; 

}

b.field-aberta{
	font-size: 15px;
	color: #006400; 
	font-weight: bold;
	margin-bottom: 0px; 
}

b.field-fechada{
	font-size: 15px;
	color: blue; 
	font-weight: bold;
	margin-bottom: 0px; 
}

b.field-cancelada{
	font-size: 15px;
	color: red; 
	font-weight: bold;
	margin-bottom: 0px; 
}

a.nav-tela{
	width: 100%;
	height: 100%;
}
/*--- TELA MARCA DO PRODUTO  ---*/
div.panel-altera-marca{
	height: 500px;
  overflow-y: scroll;
}

/*--- TELA CATEGORIA DO PRODUTO  ---*/
div.panel-categoria-prod{
	height: 500px;
  overflow-y: scroll;
}

/*--- TELA CADASTRO USUARIO  ---*/
div.panel-cadastro-user{
	height: 500px;
  overflow-y: scroll;
}

/*---  CADASTRO DE PRODUTOS ---*/

div.panel-cadastro-prod{
	min-height: 500px; 
}

div.link-voltar-cadproduto a h4{
	padding: 0px; 
	margin-top: 20px; 
	font-size: 16px; 
	color:blue;
}

div.panel-cadastro-produto{
	margin-top: 0px; 
}

.btn-default{
	background-color: #A9A9A9; 
	color: white;

}
div.titulo-cad-prod h3{
	margin-top: 10px; 
	color: blue;
}

div.title-cadastro-prod{
	margin-top: 10px; 
	color: blue;
}

div.link-voltar-cadnota a h4{
	font-size: 17px; 
	color: blue; 
}


.panel-produtos-admin-scroll{
	height: 430px;
  overflow-y: scroll;
}

/* TELA ALTERACAO DE PRODUTO */ 
div.titulo-alteracao-prod h3{
	margin-top: 5px; 
	margin-bottom: 0px; 
	color: blue;

}

section#panel-alterar-product{
	margin-top: 10px; 
	height: 535px; 
	width: 100%; 
}

div.panel-altera-pro{
	height: 550px;
  overflow-y: scroll;
}
/*--- ENTRADA DE NOTAS/ESTOQUE --*/

div.panel-title-estoque h4{
	margin-top: 5px; 
}

section#dados-nota-gravada{
	padding: 10px;
}

section#panel-dados-da-nota{
	border: 1px solid; 
	border-radius: 5px; 
	border-color: #A9A9A9; 
	background-color: #fff; 
}

.scroll-itens-nt{
	height: 500px;
  overflow-y: scroll;
}

input#check-sem-nota
{
	margin-top: 9px; 
  min-width: 4px;
  min-height: 4px;
  transform: scale(2);
  border-radius: 10px; 
}

div.check-sem-nota div{
	text-align: center; 
	border-radius: 10px; 
}

input#check-sem-nota{
	border-radius: 20px; 
}

div.btn-busca-item button{
	margin-top: 0px; 
}
div.btn-busca-item button:hover{
	background-color: blue; 
}
div.btn-busca-item button:focus{
	background-color: green; 
}

div.title-itens-c div label {
	color: #fff;
}

div.panel-consulta-prod{
	background-color: #808080;
	max-height: 290px;
}

div.nomeproduto-admin-it{
	margin-top: -5px;   
  
}

div.nomeproduto-admin-it label{
	color: black;
	font-size: 12px;  
}

div.nomeproduto-admin-it input {
	width: 113%; 
	margin-left: -23px;
	font-size: 14px;  
	height: 25px; 
	margin-top: 0px;  
}

div.resultado-consulta-itens-it{
	margin-top: -20px; 
	margin-bottom: 5px; 
	width: 113%; 
	margin-left: -23px;
	min-height: 150px; 
}

div.resultado-consulta-itens-it select{
	font-size: 12px;  
}


div.panel-prod-consultado{
	 padding-top: 10px;
	 background-color: #696969;
	 min-height: 290px;
}

div.btn-add-item-estoque{
	padding-top: 13px; 
}

div.btn-add-item-estoque a button:hover{
	background-color: blue; 
}

div.btn-add-item-estoque a button:focus{
	background-color: green; 
}

div.resultado_prod_item{
	margin-top: -6px;  
}

div a button.btn-adicionar-nota {
	margin-top: 15px; 
}

div.title-notas-entradas{
	margin-top: -10px; 
	margin-bottom: -10px; 
	background-color: #000;
	color: #fff;
}

div.title-notas-entradas h4{
	padding: 5px;
}

div.notas-cadastradass{ 
	background-color: #DCDCDC; 
}


div.notas-cadastradas-scroll{
	height: 380px;
  overflow-y: scroll;
}

div.panel-dados-notas{
  margin-top: -15px; 
}

div.panel-dados-itens-title{
	background-color: #000;
	color: #fff;
	padding: 10px;
}

div.panel-dados-itens{
	background-color: #C0C0C0; 
}


div.panel-dados-itens-scroll{
	height: 570px;
  overflow-y: scroll;
  margin-top: -10px; 
}

div.panel-btn-estoque{
	padding: 5px;  
	margin-top: 17px; 

}

h4.btn-fechar {
	margin-top: -12px;
	color: green;
	font-size: 15px; 
	font-weight: bold;  
}


h4.btn-return {
	margin-top: -12px;
	color: #4169E1;
	font-size: 15px;  
	font-weight: bold; 
}

h4.btn-cancelar {
	margin-top: -12px; 
	margin-bottom: -15px;
	color: #FF0000;
	font-size: 15px; 
	font-weight: bold;  
}

h4.btn-alterar {
	margin-top: 0px; 
	margin-bottom: -15px;
	color: blue;
	font-size: 15px; 
	font-weight: bold;  
}

h4.btn-excluir {
	margin-top: -12px; 
	margin-bottom: -15px;
	color: #FF0000;
	font-size: 15px; 
	font-weight: bold;  
}


button.btn-fechar-nt {
	background-color: green; 
	margin-top: -20px;
	color: #fff;
	font-size: 15px; 
	font-weight: bold;  
}

button.btn-cancelar-nt {
	background-color: red; 
	margin-top: -20px;
	color: #fff;
	font-size: 15px; 
	font-weight: bold;  
}

div.itens-da-nota h3{
	padding: 5px; 
	background-color: #F5F5DC; 
	margin-top: 0px; 
	margin-bottom: -15px; 
}

div.panel-table-nt-itens{
	background-color: #DCDCDC; 
	margin-top: -10px; 
}


/* TELA CONSULTA DE ESTOQUE */

div.resultado-consulta-estoque{
	margin-top: 0px; 
	margin-bottom: -20px; 
}
div.btn-consulta-est{
	margin-bottom: 0px;  
}

div.btn-consulta-est a button{
	margin-top: 17px;  
}

button#btn_consulta_est:hover{
	background-color: blue; 
}
button#btn_consulta_est:focus{
	background-color: green; 
}   

.panel-estoque-scroll{
	height: 300px;
  overflow-y: scroll;
}

table.table-estoque{
	margin-top: -50px; 
}
      

table{
  width: 100%;
  border-collapse: collapse;
}

table.table-uper-case {
  text-transform: uppercase;
  font-size: 13px; 
}

th {
  position: sticky;
  top: 0;
  background:#40E0D0;

}

/* paulo */
button:disabled{
	background-color: #C0C0C0; 
}

button.person {
	background-color: green; 
	color: #fff;
	border: 1px solid;
	border-radius: 15px; 
	border-color: #fff; 
	font-size: 15px; 
	font-weight: bold; 
	box-shadow: 4px 5px #888888;
}

button.person:hover {
	background-color: blue; 
	border-color: #fff; 
	color: #fff;

}


div h4 b.field-aberta{
	font-size: 15px;
	color: #006400; 
	font-weight: bold;
	margin-bottom: 0px; 
}

div h4 b.field-fechada{
	font-size: 15px;
	color: blue; 
	font-weight: bold;
	margin-bottom: 0px; 
}

div h4 b.field-cancelada{
	font-size: 15px;
	color: red; 
	font-weight: bold;
	margin-bottom: 0px; 
}

div.mensagem-sistema{
	background-color: #000; 	
	padding: 5px; 
	color: yellow; 
}

div.mensagem-sistema b#av1{
	color: #fff; 
}

/* TELA ABERTURA  DO CAIXA */

b#sit-caixa-fechado{
	color: #A9A9A9;
}

b#sit-caixa-aberto{
	color: green;
}

div.title-abertura-caixa h3{
	margin-top: 10px; 
	color: blue;
}

div.panel-abertura-caixa h3{
	color: blue;
	font-weight: bold;
	font-size: 40px; 
	border: 1px solid; 
	border-radius: 10px; 
	border-color: #000; 
}

div.panel-abertura-caixa input{
	color: blue;
	font-weight: bold;
	font-size: 30px; 
	height: 45px;
	width: 40%;  
	text-align: center; 
}


/* TELA FECHAMEMTO  DO CAIXA */

div.title-fechamento-caixa h3{
	margin-top: 10px; 
	color: blue;
}

div.panel-fechamento-caixa h3{
	color: blue;
	font-weight: bold;
	font-size: 40px; 
	border: 1px solid; 
	border-radius: 10px; 
	border-color: #000; 
}

div.tela-fechamento-cx input{
	background-color: #ADD8E6; 
	color: blue;
	font-weight: bold;
	height: 28px;
	width: 195px; 
	font-size: 20px; 
	text-align: center;
}

section.desc-mov-fecha{
	border-bottom: 1px solid;
	padding: 0px; 
	margin-top: 0px; 
	margin-bottom: 0px; 
}

div.confe-fecha{
	margin-bottom: -6px;
	margin-top: 5px;
}

div.disab input{
	pointer-events:none;
	background-color: #4F4F4F; 
	color: #fff;
}


/* TELA ACESSO GERAL */

div.acesso-geral{
	background-color: #000; 
	min-height: 620px;
	width: 100%; 
}

div.panel-pass{
	background-color: #000; 
	color: yellow;
}

div.cactosdev_acesso{
	margin-top: 50px; 
	color: #fff; 
}

div.resultado-produto{
  height: 130px;  
  margin-top: -23px; 
}

div input.campo-senha{
  text-transform: none; 
}

b.atl-alt-s{
	color: #fff; 
	font-size: 15px;
	background-color: #000; 
	border-radius: 10px; 
	padding: 2px;  
}

b.atalho-shift{
	color: #000;
}




