/* minhas aplicações - PJCS */ 

div#page-wrapper{
	background-color: #DCDCDC; 
}

div.panel-default input, input.consulta-prod-admin, textarea{ 
	background-color:#F0F8FF; 
	font-size: 15px; 
	text-transform: uppercase;
	color: #000;
	border: 1px solid;
}

div.panel-default input:focus, input.consulta-prod-admin:focus, textarea:focus{
	background-color: #E0FFFF; 	
}

div.panel-default input:hover, input.consulta-prod-admin:hover, textarea:hover{
	background-color: #DCDCDC; 	
}


div.panel-default select{
  background-color: #F0F8FF; 
  text-transform: uppercase;
	border: 1px solid;
	font-size: 15px;
	font-weight: bold; 
}

div.panel-default select:hover{
  background-color: #DCDCDC; 
}

.page-header{
	margin-top: 5px; 
	margin-bottom: 0px;
}
h4.page-header{
	color: blue;
}

.margin-top-10 label{
		margin-top:  10px;
}

.margin-top-20 label{
		margin-top:  20px;
}

.margin-top-30 label{
		margin-top:  30px;
}
div.panel-cadastro-produto{
	margin-top: -20px; 
}

.panel-produtos-admin-scroll{
	height: 400px;
  overflow-y: scroll;
}

div h3.page-header-adm{
	margin-top: 5px; 
}

div.btn-cadastro-produto button{
	margin-top: 10px; 
	margin-bottom: 0px; 
}


.layout-campos div select:hover,
									select:focus,
									select:active,
									select:checked {
  	color: blue;
  	background-color: #F8F8FF;
  	font-weight: bold;
  	font-size: 16px;
}

.layout-campos div option{
		background-color: #191970;
		color: #FFFFFF; 
		font-size: 16px; 
}


.foto-perfil a img{
  	width: 45px;  
  	border-style: solid;
	 	border-width: 3px;
	 	border-radius: 10px;          
}

.fotos-usuarios img{
  	width: 30px;            
}

.product-img{  
  	background: #DCDCDC;      
}

.product-img img{
  	width: 230px;   
  	height:230px;         
}

.fotos-lista-produtos img{
		width: 35px;
		height: 35px;
}

.item-page a {
		font-size: 15px;
		font-weight: bold;
		padding: 3px;  
		border-style: solid;
	 	border-width: 1px;
	 	border-radius: 10px;
	 	margin-top: 10px; 
}

#titulo-prod-jquery{
  margin-top: 0px; 
  color: blue;
}

.filtro-list-produtos{
	 	border-color: #C0C0C0;
	 	text-align:  center; 
	 	margin-top: -10px; 
}

.filtro-list-produtos div {
		margin-top: -3px; 
		padding-bottom: 5px; 
}

.filtro-list-produtos div a {
		border-style: solid;
	 	border-width: 1px;
	 	border-radius: 10px; 
		font-size: 13px; 
		font-weight: bold; 
		padding: 5px; 
}

.filtro-list-produtos h4 {
		font-size: 15px; 

}

.boas-vindas{
	text-align:  center; 
}

div.protected-field input#codproduto{
	pointer-events: none;  
	background-color: #DCDCDC; 
}


/* menu do admin */ 
li p.menu-admin{

	font-size: 18px;
	margin-top: 15px; 
	padding-left: 6px;
	border-bottom: 1px solid;   
}

.cadnota div.form-group {
	line-height: 10px;
}

.consultaitem div{
	margin-top: -10px; 
}


button.consulta{
	margin-top: -12px; 
	margin-bottom: -10px; 
	width: 130px;
	font-size: 17px;  
}
button.consulta img{
	width: 15px;
	height: 15px;
}

div.protected-fields input{
	pointer-events: none;  
	background-color: #DCDCDC; 
}

.title-itens {
	margin-top: -12px; 
}

div.panel-dados{
	margin-top: -20px;
	margin-bottom: -15px;
}

div.panel-dados-cad{
	margin-top: -0px;
	margin-bottom: -15px;
}

.dados-notagravada h4{
	margin-top: 0px;
	margin-bottom: -10px;
	color: #0000FF ;
	font-size: 17px; 
}

.dados-notagravada h4 b{
	margin-left: 5px; 
	color: #00008B ;
}


h4.btn-itens {
	margin-top: 2px;
	color: #228B22;
	font-size: 15px;  
}

h4.btn-alterar {
	margin-top: 0px;
	color: #4169E1;
	font-size: 15px;  
}

h4.btn-excluir {
	margin-top: -12px; 
	margin-bottom: -15px;
	color: #FF0000;
	font-size: 15px;  
}

h4.title-itens {
	margin-top: -5px; 
	margin-bottom: -5px; 
}

h4.title-itens-nota {
	margin-top: 10px; 
	margin-bottom: -5px; 
}

div.title-itens-c {
	margin-top: -9px; 
	margin-bottom: 11px; 

}

div.title-itens-c div h4 {
	margin-top: -6px; 
	margin-bottom: -5px; 
	color: #FF8C00;
}

div.title-itens-c div label {
	color: #FF8C00;
}

.mensagem div b{
	font-style: italic;
	font-size: 18px; 
}

div.cons-item input{
	pointer-events: none;  
	background-color: #DCDCDC; 
	color:#0000FF;
	font-size: 17px; 
	font-weight: bold;
}

/* template de consulta de estoque */ 
div.panel-dados-cons-estoque div.panel-body{
	margin-top: -10px; 
	margin-bottom: -5px; 

}

div.panel-dados-cons-estoque div.title-cons{
	margin-top: 10px; 
	margin-bottom: -10px; 
}

div.panel-dados-cons-estoque div.title-cons h3{
	margin-top: -5px; 
	margin-bottom: -5px; 
	color: blue; 
}

div.panel-dados-cons-estoque div h4{
	margin-top: -5px; 
	font-size: 17px; 
}

div.panel-dados-cons-estoque div.campo-data input{
	font-size: 17px; 
	padding: 0px;
	text-align: center;
}

div.panel-mov-est {
	background-color: #F0F8FF;
}

div h4.title-itens-nota {
	margin-left: 10px; 
	font-size: 16px; 
}

div h4.title-itens-nota b {
	color: blue;
}

div h4.title-itens-nota b.font-saldo {
	color: red;
	margin-right: 0px; 
}

div.descricao-item-consulta-mov h4{
	
	color: blue; 
	margin-left: 25px; 
	margin-top: 15px;
	margin-bottom: -10px; 
	font-weight: bold;

	border-top: 1px solid; 
	border-bottom: 1px solid;
	border-color: #C0C0C0; 
	padding: 8px;

}

h2.mens-nao-estoque{
	padding: 20px; 
	color: #F4A460 ;
	border: 2px solid;
	border-radius: 10px; 
}
h2.mens-nao-estoque b{
	color: blue ;
}

div.title-itens-mov{
	margin-top: -10px; 
	border-bottom: 1px solid; 
	padding: 10px; 
	margin-bottom: 0px; 

}

/* formatando cor das fontes das colunas da tabela da consulta de estoque */ 
p.field-qt-entrada{
	font-size: 15px; 
	color: #228B22; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-qt-saida{
	font-size: 15px;
	color: #0000FF; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-saldo{
	font-size: 15px;
	color: #5F9EA0; 
	font-weight: bold;
	margin-bottom: 0px; 
}

/* formatando cor das fontes das colunas da tabela da consulta de intens da nota */ 

p.field-aberta{
	font-size: 15px;
	color: #006400; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-fechada{
	font-size: 15px;
	color: blue; 
	font-weight: bold;
	margin-bottom: 0px; 
}

p.field-cancelada{
	font-size: 15px;
	color: red; 
	font-weight: bold;
	margin-bottom: 0px; 

}

a.nav-tela{
	width: 100%;
	height: 100%;
}
/*--- TELA MARCA DO PRODUTO  ---*/
div.panel-altera-marca{
	height: 410px;
  overflow-y: scroll;
}

/*--- TELA CATEGORIA DO PRODUTO  ---*/
div.panel-categoria-prod{
	height: 410px;
  overflow-y: scroll;
}

/*--- TELA CADASTRO USUARIO  ---*/
div.panel-cadastro-user{
	height: 410px;
  overflow-y: scroll;
}

/*---  CADASTRO DE PRODUTOS ---*/
.btn-default{
	background-color: #A9A9A9; 
	color: white;

}
div.titulo-cad-prod h3{
	margin-top: 5px; 
	color: blue;
}

div.title-cadastro-prod{
	margin-top: 0px; 
	color: blue;
}

/* TELA ALTERACAO DE PRODUTO */ 
div.titulo-alteracao-prod h3{
	margin-top: 5px; 
	margin-bottom: 0px; 
	color: blue;

}

div.panel-altera-pro{
	height: 500px;
  overflow-y: scroll;
}
/*--- ENTRADA DE NOTAS/ESTOQUE --*/

div.panel-title-estoque h4{
	margin-top: 5px; 
}

.scroll{
	height: 500px;
  overflow-y: scroll;
}

input#check-sem-nota
{
	margin-top: 9px; 
  min-width: 4px;
  min-height: 4px;
  transform: scale(2);
}

div.check-sem-nota div{
	text-align: center; 
}

div.btn-busca-item button{
	margin-top: 0px; 
}
div.btn-busca-item button:hover{
	background-color: blue; 
}
div.btn-busca-item button:focus{
	background-color: green; 
}

div.panel-consulta-prod{
	background-color: #FAEBD7;
	min-height: 270px;
}
div.panel-prod-consultado{
	 padding-top: 0px;
	 background-color: #FFFAF0;
	 min-height: 270px;
}

div.btn-add-item-estoque{
	padding-top: 13px; 
}

div.btn-add-item-estoque a button:hover{
	background-color: blue; 
}

div.btn-add-item-estoque a button:focus{
	background-color: green; 
}

div.resultado_prod_item{
	margin-top: -6px;  
}

div a button.btn-adicionar-nota {
	margin-top: 15px; 
}

div.notas-entradas h3{
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: 20px;  
	color: blue;
}

div.notas-cadastradas-scroll{
	height: 600px;
  overflow-y: scroll;
}

/* TELA CONSULTA DE ESTOQUE */

div.resultado-consulta-estoque{
	margin-top: -20px; 
	margin-bottom: -20px; 
}
div.btn-consulta-est{
	margin-bottom: 0px;  
}

div.btn-consulta-est a button{
	margin-top: 17px;  
}

button#btn_consulta_est:hover{
	background-color: blue; 
}
button#btn_consulta_est:focus{
	background-color: green; 
}   

.panel-estoque-scroll{
	height: 500px;
  overflow-y: scroll;
}

table.table-estoque{
	margin-top: -50px; 
}
      

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  background:#40E0D0;
}