
.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
  outline: 0px solid 
}

img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
body { font-family:Arial, Helvetica, sans-serif; }


.header-area {
    background: none repeat scroll 0 0 #f4f4f4;
    /* background: #FFFF00; */
    padding: 2px; 
}
.header-area a {
    color: #888;
    padding: 10px; 
}

.area-logo{
  background: none repeat scroll 0 0 #f4f4f4;
    /*background: #FFFF00;*/

}

.footer-bottom-area {background: #000;color: #fff}
.footer-about-us span {
  color: #e67e22;
}
.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;color: #fff
}

.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}
.footer-menu a {
    display: block;
    padding: 5px 0;color: #999
}


.footer-social a {
  background: none repeat scroll 0 0 #e67e22;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;border: 1px solid #e67e22;
}

.footer-social a:hover {background-color: #222;border-color: #666}

.footer-social {margin-top: 20px}


.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #e67e22;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;border: 1px solid #e67e22;
}
.newsletter-form input[type="submit"]:hover {background: #222;border-color: #666}
.newsletter-form {
    margin-top: 25px;
}
a {color: #e67e22}
a:hover, a:focus {color: #17a78b}
.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}


/* MINHAS ESTILIZAÇÕES */ 

div.panel-vendas1{
  background-color: #F5F5F5; 
  margin-top: -10px; 
  margin-left: 10px; 
  margin-bottom: 10px; 
}
div.panel-vendas2{
  margin-top: -10px; 
  margin-left: -25px; 
}

div.flexline, div.flexline div{
    display: flex;
    aling-ites: center;
    justify-content: space-between;
}


div.flexline select{
    width: 80%;

}
div.flexline input{
    width: 70%;
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
}

button.qtitem-maior{
  margin-top: 0px; 
  margin-bottom: -10px; 
  width: 65px;
  font-size: 17px; 
  background-color: #D3D3D3; 
}

button.qtitem-maior img{
  width: 20px;
  height: 20px;
}

button.consulta{
  margin-top: -5px; 
  margin-bottom: 10px; 
  width: 130px;
  font-size: 17px;  

}
button.consulta img{
  width: 15px;
  height: 15px;
}

div.area-vendas1{
  border-bottom: 1px solid; 
}
div.area-vendas2 {
  margin-top: 10px ; 
}

h3.descricao-prod-caixa{
  color: blue; 
  font-size: 30px; 
  font-weight: bold;
  margin-bottom: 0px;  
}
div.panel-item-escolhido{
  margin-top: -10px; 
}

div.desc-precos-compras {
  margin-top: 0px; 
  margin-bottom: 0px; 
}

div.desc-precos-compras h3 {
 color: #5F9EA0;  
 font-weight: bold; 
 font-size: 30px; 
 margin-bottom: -8px;
 border-bottom: 1px solid;
 text-align: center;
}

div.tela-preco-total h1{
  color: red;
  font-weight: bold; 
  font-size: 60px;
  text-align: center; 
  margin-top: -10px;
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #A9A9A9; 
}

div.tela-preco-troco h1{
  color: green;
  font-weight: bold; 
  font-size: 30px;
  text-align: center; 
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #A9A9A9; 
}


h4.btn-excluir {
  margin-left: -20px; 
  margin-top: -12px; 
  margin-bottom: -15px;
  color: #FF0000;
  font-size: 15px;  
}

div.footer-card-icon i{
  margin-top: 3px; 
  font-size: 16px; 
}

div.cactosdev{
  margin-bottom: -45px; 
}
div.cactosdev p.des-por{
  margin-top: 2px; 
  font-size: 10px; 
  margin-bottom: 0px; 
}

div.cactosdev h3 {
  margin-top: 0px; 
  margin-bottom: -5px; 
  font-size: 17px; 
}
div.cactosdev h3 img{
  margin-top: 0px; 
  margin-bottom: 0px; 
  width: 20px;
  height: 20px;
}

div.cactosdev p img.email, div.cactosdev p img.whats{
    margin-top: 0px; 
    margin-bottom: 0px; 
    width: 15px;
    height: 15px;
}

div.btn-finalizar-venda{
  margin-top: 25px; 
}

