
img {
    max-width: 100%;
    height: auto;
}

.container{
  width: 100%;
  height: 100%;
}

.footer-bottom-area {background: #000;color: #fff; 
  width: 100%;
  height: 100%;
}
.footer-about-us span {
  color: #e67e22;
}
.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;color: #fff
}

.footer-about-us h2 {
  font-weight: 200;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}
.footer-menu a {
    display: block;
    padding: 5px 0;color: #999
}

.footer-social a {
  background: none repeat scroll 0 0 #e67e22;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;border: 1px solid #e67e22;
}

.footer-social a:hover {background-color: #222;border-color: #666}

.footer-social {margin-top: 20px}

a {color: #e67e22}
a:hover, a:focus {color: #17a78b}
.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}


/* MINHAS ESTILIZAÇÕES */ 

/* side-bar*/ 

div.menu-vendas{
  margin-top: 5px; 
  text-align: left;  

}
div a.nav-link{
  font-size: 24px; 
}

div a.nav-link:hover{
 color: #FFFF00;
}

div#menulinks{

}

div#menulinks a{
  font-size: 15px; 
  color: white;
}

div#menulinks a i{
  font-size: 17px; 
  color: #FFFF00;
}

div#menulinks a:hover{
  color: #FFFF00;
}


div.btn-acesso{
  margin-top: 25px; 
  padding-bottom: 50px; 
}

div.btn-acesso button{
  background-color: #191970;
  width: 100%;
  height: 80px;
  border: 3px solid;
  font-size: 22px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
  border-radius: 10px; 
}

div.btn-acesso button:hover{
  background-color: #0000CD;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.8);
  border-color: white; 
  
}

.panel-geral-vendas{
  background-color: #C0C0C0;
  margin-bottom: 0px; 
}

div.panel-geral-vendas1{
  background-color: #C0C0C0; 
  border-right: 3px solid;

}

div.panel-vendas1{
  background-color: #C0C0C0; 
  /*margin-left: 0px; */
  margin-bottom: 0px;  
}

div.area-vendas1 div.nomeproduto{
  margin-top: -10px; 
}
div.panel-vendas2-1{
  background-color: #F5F5DC;
  margin-top: 0px; 
  margin-left: -10px;
  margin-right:-10px;
  margin-bottom: 15px;  
  border:2px solid; 
  height: 383px;
  overflow-y: scroll;
}
div.panel-vendas2-1 table{
  background-color: #ADD8E6; 
  font-weight: bold; 
  color: #696969;
}

div.panel-vendas2-1 table h5{
  font-weight: bold; 
  color: #000;

}

div.panel-vendas2-1 table b{
  color: blue; 
  font-size: 17px; 
}

div.flexline, div.flexline div{
    display: flex;
    align-items:center;
    justify-content: space-between;
}


div.flexline select{
    width: 80%;
}
div.flexline input{
    width: 70%;
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
}

div.resultado{
  margin-top: -20px;
}

button.btn-consulta{
  margin-top: 23px; 
  margin-bottom: 10px; 
  width: 130px;
  font-size: 17px;  
}

button.btn-consulta:focus{
  background-color: #32CD32;   
}

div.quantidade-ites input:focus{
  background-color: #E0FFFF; 
}
div.nomeproduto input:focus{
  background-color: #E0FFFF; 
}

div.picklist-prod select:focus{
  background-color: #E0FFFF; 
}


button.btn-consulta img{
  width: 15px;
  height: 15px;
}

div.area-vendas1{
  border-bottom: 1px solid;
}

div.area-vendas1 input, div.picklist-prod select{
  font-size: 20px; 
  background-color: #FFFFF0; 
}


div.area-vendas1 input#quantidade{
  font-size: 23px; 
  text-align: center; 

}

div.panel-geral-vendas2{
    background-color: #C0C0C0; 
    /*margin-top: -10px; 
    margin-bottom: 5px; 
    margin-left: 0px;
    border:3px solid; */ 
}

div.panel-vendas2{

}

div.panel-item-escolhido{
  margin-top: 0px; 
}

h3.descricao-prod-caixa{
  color: blue; 
  font-size: 30px; 
  font-weight: bold;
  margin-top: 0px; 
  margin-bottom: -10px;  
}

div.desc-precos-compras h3 {
 color: blue;  
 font-weight: bold; 
 font-size: 30px; 
 margin-bottom: -8px;
 margin-top: 0px; 
 border-bottom: 1px solid;
 text-align: center;
}

div.tela-numero-itens h1{
  color: blue;
  font-weight: bold; 
  font-size: 40px;
  text-align: center; 
  margin-top: -10px;
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #D2691E;
  
}

div.tela-preco-desconto h1{
  color: blue;
  font-weight: bold; 
  font-size: 40px;
  text-align: center; 
  margin-top: -10px;
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #D2691E;
  
}

div.tela-preco-acrescimo h1{
  color: blue;
  font-weight: bold; 
  font-size: 40px;
  text-align: center; 
  margin-top: -10px;
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #D2691E; 
 
}

div.tela-preco-total h1{
  color: red;
  font-weight: bold; 
  font-size: 60px;
  text-align: center; 
  margin-top: -10px;
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #A9A9A9; 
}

div.tela-preco-troco h1{
  color: green;
  font-weight: bold; 
  font-size: 30px;
  text-align: center; 
  margin-bottom: 0px; 
  border-bottom: 1px solid; 
  border-color: #A9A9A9; 
}




div.footer-card-icon i{
  margin-top: 3px; 
  font-size: 16px; 
}

  /* DO RODAPE*/
div.cactosdev{
  margin-bottom: -45px; 
}
div.cactosdev p.des-por{
  margin-top: 2px; 
  font-size: 10px; 
  margin-bottom: 0px; 
}

div.cactosdev h3 {
  margin-top: 0px; 
  margin-bottom: -5px; 
  font-size: 17px; 
}
div.cactosdev h3 img{
  margin-top: 0px; 
  margin-bottom: 0px; 
  width: 20px;
  height: 20px;
}

div.cactosdev p img.email, div.cactosdev p img.whats{
    margin-top: 0px; 
    margin-bottom: 0px; 
    width: 15px;
    height: 15px;
}

/* DA TELA DE ACESSO */

div.cactosdev_acesso{
  margin-top: 20px; 

}
div.cactosdev_acesso p.des-por{
  margin-top: 20px; 
  font-size: 15px; 
  margin-bottom: 0px; 
  margin-left: 30px;
}

div.cactosdev_acesso h3 {
  margin-top: 0px; 
  margin-bottom: 5px; 
  font-size: 20px; 
}
div.cactosdev_acesso h3 img{
  margin-top: 0px; 
  margin-bottom: 0px; 
  width: 40px;
  height: 40px;
}

div.cactosdev_acesso p img.email, div.cactosdev_acesso p img.whats{
    margin-top: 0px; 
    margin-bottom: 0px; 
    width: 25px;
    height: 25px;
}


div.btn-finalizar-venda{
  margin-top: 20px; 
  margin-bottom: 0px; 
}

div.btn-finalizar-venda button{
  width: 100%;
  height: 100%;
  border: 3px solid;
  font-size: 18px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px; 
}

div.header-titulo{
  background-color: #000; 
 /* margin-bottom: 8px; */
  border-bottom: 3px solid; 
  border-color: #fff; 

}

div.logo-marca h3{
  margin-top: 9px;
  margin-bottom: 0px;
  margin-left: 4px; 
  font-size: 20px; 
  color: #FFFF00;
  border: 5px ridge;
  border-radius: 20px 20px; 
  border-color: #FF0000;
}

div.logo-titulo h1.desc-titulo{
  margin-top: 10px;
  font-size: 30px; 
  color: #fff;
}

div.usuario-caixa{
  color: #FF8C00 ;
}

div.usuario-caixa h4.desc-operador{
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 10px; 
  color: #fff;
  text-align: right; 
  margin-right: 30px; 
}

div.usuario-caixa h4.desc-operador2{
  margin-top: 1px; 
  margin-bottom: 0px;
  font-size: 15px; 
  text-align: right; 
}

div.usuario-caixa h4.desc-operador3{
  margin-top: 4px; 
  margin-bottom: 5px;
  font-size: 12px; 
  color: #fff;
  text-align: right;
   
}

div.usuario-caixa h4.desc-operador3 a{
  color: yellow;
   
}

div.usuario-caixa-foto img{
  width: 40px;
  height: 50px;
  border:1px solid;
  border-color: white; 
  border-radius: 3px;
  margin-top: 1px; 

}

div.picklist-prod div label{
  margin-right:40px; 
}

.titulo-tela-tipopag{
  margin-top: 0px; 
  background-color: #1C1C1C;
}

.titulo-tela-tipopag div h2{
  color: yellow; 
}

.titulo-tela-tipopag div h1{
  color: red; 
  font-size: 60px; 
}

.titulo-tela-tipopag2{
  margin-top: 0px; 
  background-color: #1C1C1C;
}

.titulo-tela-tipopag2 div h2{
  color: yellow; 
}

.titulo-tela-tipopag2 div h1{
  color: red; 
  font-size: 60px; 
}


div.avista, div.debito, div.credito, div.crediario{
  margin-top: -20px; 
  width: 70%;
  padding: 0px; 
}

div.credito a{
  color: blue;
}

div.avista:hover, div.debito:hover, div.credito:hover, div.crediario:hover{
  margin-top: -20px; 
  width: 65%;
  opacity: 0.5; 

}

div.tipo-de-pagamento{
  background-color: #1C1C1C;
  border-top: 3px solid; 
  border-color: white; 
  padding-bottom: 20px; 
}

div.tipo-de-pagamento h2{
  color: white;
  margin-top: 0px;
  margin-bottom: 30px; 
}

div.tipo-de-pagamento h4{
  color: #FFFF00;

}

div.tipo-de-pagamento-escolha{
  /*margin-top: -5px; */
  /*margin-bottom: 9px; */
  background-color: #2E8B57;
  border-bottom:  3px solid; 
  border-color: white; 
  /*padding-bottom: 10px; */
}

div.tipo-de-pagamento-escolha h2{
  color: white;
  margin-top: 0px;
  margin-bottom: 0px; 
  padding: 10px; 

}

div.tipo-de-pagamento-escolha h4{
  color: #FFFF00;

}

div.tipo-de-pagamento-escolha-crediario{

  background-color: #4682B4;

}

div.tipo-de-pagamento-escolha-cliente{

  background-color: #363636;

}

div.link-voltar{
  margin-top: 20px; 
  margin-bottom: 0px; 
  font-size: 19px;  
}


h1.valor-recebido-venda input{
  color: #fff; 
  font-size: 50px; 
  background-color: #1C1C1C;
  width: 50%;
  height: 60px; 
  text-align: left;

}

h1.valor-recebido-troco input{
  color: #FFD700; 
  font-size: 50px; 
  background-color: #1C1C1C;
  width: 50%;
  height: 60px; 
  pointer-events :none;
}

h1.valor-recebido-troco input:disabled {
  background: #1C1C1C;
  font-weight: bold; 
}

div.btn-finalizar-venda-money{
  margin-top: 50px; 
  margin-bottom: 0px; 
}

div.btn-link {
  margin-top:20px; 
  margin-bottom: 40px;
}

h4.btn-itens {
  margin-top: 2px;
  color: #228B22;
  font-size: 15px;  
}

h4.btn-alterar {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -5px; 
  color: #4169E1;
  font-size: 15px;  
}

h4.btn-excluir {
  margin-left: -10px; 
  margin-top: -12px; 
  margin-right: -25px; 
  margin-bottom: -15px;
  color: #FF0000;
  font-size: 15px;  
}

div.mensagem-sistema{
  height: 10px;
  margin-top: 2px; 
}

div.mensagem-sistema h4{
  margin-top: 0px; 
}

/* ---- ALTERAÇAO DO ITEM DA VENDA ----*/

.panel-principal-altera-itens-da-venda{
  background-color: #D3D3D3; 
}

div.altera-itens-venda-titulo h2{
  color: blue;
  margin-top: 5px; 
}

.panel-principal-altera-itens-da-venda input#codproduto_alt,
.panel-principal-altera-itens-da-venda input#desproduto_alt,
.panel-principal-altera-itens-da-venda input#vlpreco_alt,
.panel-principal-altera-itens-da-venda input#valortotal_alt
{
  background-color: #DCDCDC; 
  color: #808080;
  font-size: 30px; 
  height:50px; 
  text-align: center; 
  pointer-events :none;

}

.panel-principal-altera-itens-da-venda input#quantidadeitens_alt,
.panel-principal-altera-itens-da-venda input#valordesconto_alt,
.panel-principal-altera-itens-da-venda input#valoracrescimo_alt
{
  background-color: #FFFAF0; 
  color: #999;
  font-size: 30px; 
  height:50px; 
  text-align: center; 
 
}

.panel-principal-altera-itens-da-venda input#valortotal_alt
{
  color: black;
  font-size: 50px; 
  height:60px; 
  font-weight: bold; 


}

.panel-principal-altera-itens-da-venda input#quantidadeitens_alt:focus,
.panel-principal-altera-itens-da-venda input#valordesconto_alt:focus,
.panel-principal-altera-itens-da-venda input#valoracrescimo_alt:focus
{
  background-color: #ADD8E6; 
  color: #000;
}

.panel-principal-altera-itens-da-venda label
{
  color: #008080;
  font-size: 16px; 
}

div.panel-dados-item{
  margin-top: -13px; 
}

div.panel-btn-aplicar-voltar{
  margin-bottom: 20px; 
}

/* TELA CONSULTA DE CLIENTE NO CREDIARIO */
.panel-consulta-cliente{
  margin-top: 5px; 
  margin-left: 0px; 
  margin-right: 0px;
  margin-bottom: 0px; 

  border: 3px solid; 
  border-radius: 10px; 
}
div.panel-top-cliente{
  border-bottom: 1px solid; 
  border-color: white; 
}

div.valor-venda-crediario h4{
  margin-bottom: -10px; 
  color: red; 

}

div.valor-venda-crediario h4 b{
  margin-bottom: -10px; 
  color: yellow; 
  font-size: 20px;
}

div.cadastro-cliente-crediario h4:after{
  content: "Cliente não tem CADASTRO?"; 
}

div.cadastro-cliente-crediario h4{
  margin-bottom: -10px; 
  color: #00FFFF; 
  font-size: 14px; 
}

div.cadastro-cliente-crediario h4:hover{
  color: #fff; 
  font-size: 15px; 
  font-weight: bold; 
}

.panel-consulta-cliente label{
  margin-top: 5px; 
  color: #fff;
}

.panel-consulta-cliente div.resultado_cli{
  margin-top: -25px; 
}

div.nomecliente input{
  font-size: 20px;  
}

div.nomecliente input:focus{
  background-color: #E0FFFF; 
}

div.btn-consulta-cliente{
  text-align: right;  
}

div.btn-consulta-cliente a button.btn_buscar_cliente{
  margin-top: -20px; 
  align-items: right; 
}

div.btn-finalizar-venda-cliente{
  margin-bottom: -20px; 
}


/* TELA CONSULTA DE CLIENTE SELECIONADO NO CREDIARIO- */
.panel2-consulta-cliente{
  margin-top: 5px; 
  margin-left: 0px; 
  margin-right: 0px;

 /* border: 3px solid;  */
}

.panel2-consulta-cliente div label{
  margin-top: 5px;
  margin-bottom: 0px; 
  color: #fff;
}

.panel2-consulta-cliente div input:disabled{
  color: #4F4F4F;
  background-color:#C0C0C0; 
}

.panel2-consulta-cliente div.resultado_cli{
  margin-top: -25px; 
}

div.cliente_venda input{
  font-size: 20px;  
  margin-bottom: -30px; 
}

div.cliente_venda input#cliente_saldo{
  font-size: 23px;  
  color: red;
  background-color: black; 
}

div.cliente_venda input:focus{
  background-color: #E0FFFF; 
}

div.cadastro-cliente-aberto h4:after{
  content: ">> Consultar vendas em aberto"; 
}

div.cadastro-cliente-aberto h4{
  margin-top: 30px; 
  margin-bottom: 0px; 
  color: yellow; 
  font-weight: bold; 
  font-size: 16px; 
}

div.cadastro-cliente-aberto h4:hover{
  color: #fff; 
  font-size: 16px; 
  font-weight: bold; 
}

/* CADASTRO DE CLIENTES TELA INICIAL */

div.tela-manutencao-cli{
  background-color: #708090;
}

div.tela-manutencao-cli input{
  text-transform: uppercase; 
}

div.btn-add-cliente button{
  background-color: #191970;  
}

div.btn-alterar-cliente button{
  background-color: #0000FF;  
}

div.btn-add-cliente button:hover, div.btn-alterar-cliente button:hover{
  background-color: #4169E1;
  border-color: blue; 
} 

div.link-voltar-tela-inicio{
  margin-top: 25px;
}

div.link-voltar-tela-inicio a{
  color: #fff;
}

div.link-voltar-tela-inicio a:hover{
  color: yellow;
}

div.link-voltar-tela-inicio a i {
  color: yellow;
  font-size: 25px; 
}








 


